@page {
  margin: 0;
}

.previewWrap {
  position: relative;
  margin: 0 auto;
}

.previewPage {
  margin: 0 auto;
  padding: 0;
  width: 21cm;
  min-height: 29.7cm;
  padding: 1.5cm;
  background-color: white;
}

.previewPage h1 {
  font-size: 26px;
  margin-top: 0;
}

.previewBox {
  margin-bottom: 20px;
}

.previewBox h2 {
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid #E9967A;
}

/* 기본정보 */
.previewBaiscInfoWrap {
  display: block;
  height: 129px;
  margin-bottom: 10px;
}

.previewBaiscInfoImg {
  display: inline-block;
  border: 2px solid #E9967A;
  width: 100px;
  height: 125px;
  margin-right: 20px;
  vertical-align: top;
}

.previewBaiscInfoImg img {
  width: 100%;
  height: 100%;
}

.previewBaiscInfo {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 124px);
  height: 100%;
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewBaiscInfoFlex {
  display: flex;
}

.previewBaiscInfoFlexItem {
  flex-basis: 0;
}

.previewBaiscInfoFlexItem:nth-child(1) {
  flex-grow: 1;
}

.previewBaiscInfoFlexItem:nth-child(2) {
  flex-grow: 1.3;
}

/* 학력 */
.previewEducationWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-bottom: 10px;
}

.previewEducationTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewEducation {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 186px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewEducationFlex {
  display: flex;
  padding-top: 12px;
}

.previewEducationFlex:nth-child(1) {
  padding-top: 0px;
}

.previewEducationFlexItem {
  flex-basis: 0;
}

.previewEducationFlexItem:nth-child(1) {
  flex-grow: 1
}

.previewEducationFlexItem:nth-child(2) {
  flex-grow: 1
}

/* 경력 */
.previewCareerWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-bottom: 10px;
}

.previewCareerTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewCareer {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 186px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewCareerFlex {
  display: flex;
  padding-top: 12px;
}

.previewCareerFlex:nth-child(1) {
  padding-top: 0px;
}

.previewCareerFlexItem {
  flex-basis: 0;
}

.previewCareerFlexItem:nth-child(1) {
  flex-grow: 1
}

.previewCareerFlexItem:nth-child(2) {
  flex-grow: 1
}

/* 자격증 */
.previewCertificateWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-bottom: 10px;
}

.previewCertificateTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewCertificate {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 286px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewCertificateFlex {
  display: flex;
  padding-top: 12px;
}

.previewCertificateFlex:nth-child(1) {
  padding-top: 0px;
}

.previewCertificateFlexItem {
  flex-basis: 0;
}

.previewCertificateFlexItem:nth-child(1) {
  flex-grow: 1
}

/* 어학 */
.previewLanguageWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-bottom: 10px;
}

.previewLanguageTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewLanguage {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 286px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewLanguageFlex {
  display: flex;
  padding-top: 12px;
}

.previewLanguageFlex:nth-child(1) {
  padding-top: 0px;
}

.previewLanguageFlexItem {
  flex-basis: 0;
}

.previewLanguageFlexItem:nth-child(1) {
  flex-grow: 1
}

/* 인턴 */
.previewInternWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-bottom: 10px;
}

.previewInternTitle {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewIntern {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 186px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewInternFlex {
  display: flex;
  padding-top: 12px;
}

.previewInternFlex:nth-child(1) {
  padding-top: 0px;
}

.previewInternFlexItem {
  flex-basis: 0;
}

.previewInternFlexItem:nth-child(1) {
  flex-grow: 1
}

.previewInternFlexItem:nth-child(2) {
  flex-grow: 1
}

.previewContentFlex {
  display: flex;
}

.previewContentFlexItem:nth-child(1) {
  display: flex;
  width: 90px;
  color: gray;
  margin-right: 10px;
  border-right: 2px solid #E9967A;
  align-items: center;
}

.previewContentFlexItem:nth-child(2) {
  flex: 1
}

/* 병역취업우대 */
.previewPreWrap {
  display: flex;
  align-items: stretch;
  margin: 0 10px 10px 10px;
}

.previewPre {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewPreFlex {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  text-align: center;
}

.previewPreFlexItem {
  border-right: 2px solid #E9967A;
  flex-basis: 0;
  flex-grow: 1;
}

.previewPreFlexItem:nth-child(5) {
  border-right: 0;
}

/* 자기소개서 */
.previewIntroWrap {
  display: block;
  margin: 0 10px 10px 10px;
}

.previewIntro {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewIntro pre {
  margin: 0;
  white-space: pre-wrap;
  line-height: 150%;
}

.PreviewCompleted {
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: 470px;
  border: 2px solid #E9967A;
  border-radius: 5px;
  background-color: white;
}

.PreviewCompleted button {
  box-sizing: content-box;
  display: block;
  width: 35px;
  height: 35px;
  font-size: 18px;
  margin: 5px;
  padding: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.PreviewCompleted hr {
  width: 70%;
  border: 0;
  border-top: 2px solid gainsboro
}

.PreviewCompleted button:hover {
  filter: invert(89%) sepia(84%) saturate(1383%) hue-rotate(299deg) brightness(89%) contrast(104%);
}

.PreviewCompleted button:nth-child(1) {
  background: url(../../icon/printer.png) no-repeat;
  background-size: cover;
}

.PreviewCompleted button:nth-child(3) {
  background: url(../../icon/png.png) no-repeat;
  background-size: cover;
}

.PreviewCompleted button:nth-child(5) {
  background: url(../../icon/pdf.png) no-repeat;
  background-size: cover;
}

.pageLine {
  position: absolute;
  top: 31.2cm;
  left: 50%;
  margin-left: 453px;
  width: 60px;
  text-align: right;
  line-height: 1;
}

.lineItem {
  position: absolute;
  border-top: 2px solid #E9967A;
  width: 60px;
  height: 18px;
}

.lineItem:nth-child(1) {
  top: 0;
  right: 0;
}

.lineItem:nth-child(2) {
  top: 3cm;
  right: 0;
}