@media print {
  @page {
    size: 21cm 29.7cm;
    margin: 0;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  html,
  body {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.previewPage {
  position: relative;
  margin: 0 auto;
  padding: 1.5cm;
  width: 21cm;
  min-height: 29.7cm;
  background-color: white;
}

.previewPage h1 {
  font-size: 26px;
  margin-top: 0;
}

.previewBox {
  position: relative;
  margin-bottom: 10px;
}

.previewBox h2 {
  font-size: 22px;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #E9967A;
}

/* 기본정보 */
.previewBaiscInfoWrap {
  display: block;
  height: 129px;
  margin-top: 10px;
}

.previewBaiscInfoImg {
  display: inline-block;
  border: 2px solid #E9967A;
  width: 100px;
  height: 125px;
  margin-right: 20px;
  vertical-align: top;
}

.previewBaiscInfoImg img {
  width: 100%;
  height: 100%;
}

.previewBaiscInfo {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 124px);
  height: 100%;
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewBaiscInfoFlex {
  display: flex;
}

.previewBaiscInfoFlexItem {
  flex-basis: 0;
}

.previewBaiscInfoFlexItem:nth-child(1) {
  flex-grow: 1;
}

.previewBaiscInfoFlexItem:nth-child(2) {
  flex-grow: 1.3;
}

/* 학력 */
.previewEducationWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-top: 10px;
}

.previewEducationTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewEducation {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 186px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewEducationFlex {
  display: flex;
  padding-top: 12px;
}

.previewEducationFlex:nth-child(1) {
  padding-top: 0px;
}

.previewEducationFlexItem {
  flex-basis: 0;
}

.previewEducationFlexItem:nth-child(1) {
  flex-grow: 1;
}

.previewEducationFlexItem:nth-child(2) {
  flex-grow: 1;
}

/* 경력 */
.previewCareerWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-top: 10px;
}

.previewCareerTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewCareer {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 186px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewCareerFlex {
  display: flex;
  padding-top: 12px;
}

.previewCareerFlex:nth-child(1) {
  padding-top: 0px;
}

.previewCareerFlexItem {
  flex-basis: 0;
}

.previewCareerFlexItem:nth-child(1) {
  flex-grow: 1;
}

.previewCareerFlexItem:nth-child(2) {
  flex-grow: 1;
}

/* 자격증 */
.previewCertificateWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-top: 10px;
}

.previewCertificateTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewCertificate {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 286px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewCertificateFlex {
  display: flex;
  padding-top: 12px;
}

.previewCertificateFlex:nth-child(1) {
  padding-top: 0px;
}

.previewCertificateFlexItem {
  flex-basis: 0;
}

.previewCertificateFlexItem:nth-child(1) {
  flex-grow: 1;
}

/* 어학 */
.previewLanguageWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-top: 10px;
}

.previewLanguageTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewLanguage {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 286px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewLanguageFlex {
  display: flex;
  padding-top: 12px;
}

.previewLanguageFlex:nth-child(1) {
  padding-top: 0px;
}

.previewLanguageFlexItem {
  flex-basis: 0;
}

.previewLanguageFlexItem:nth-child(1) {
  flex-grow: 1;
}

/* 인턴 */
.previewInternWrap {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-top: 10px;
}

.previewInternTitle {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 50px;
  font-size: 18px;
  vertical-align: top;
  border-right: 2px solid #E9967A;
  margin-right: 34px;
}

.previewIntern {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 186px);
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewInternFlex {
  display: flex;
  padding-top: 12px;
}

.previewInternFlex:nth-child(1) {
  padding-top: 0px;
}

.previewInternFlexItem {
  flex-basis: 0;
}

.previewInternFlexItem:nth-child(1) {
  flex-grow: 1;
}

.previewInternFlexItem:nth-child(2) {
  flex-grow: 1;
}

.previewContentFlex {
  display: flex;
}

.previewContentFlexItem:nth-child(1) {
  display: flex;
  width: 90px;
  color: gray;
  margin-right: 10px;
  border-right: 2px solid #E9967A;
  align-items: center;
}

.previewContentFlexItem:nth-child(2) {
  flex: 1;
}

/* 병역취업우대 */
.previewPreWrap {
  display: flex;
  align-items: stretch;
  margin: 10px;
}

.previewPre {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewPreFlex {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  text-align: center;
}

.previewPreFlexItem {
  border-right: 2px solid #E9967A;
  flex-basis: 0;
  flex-grow: 1;
}

.previewPreFlexItem:nth-child(5) {
  border-right: 0;
}

/* 자기소개서 */
.previewIntroWrap {
  display: block;
  margin: 10px;
}

.previewIntro {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-size: 18px;
}

.previewIntro pre {
  margin: 0;
  white-space: pre-wrap;
  line-height: 150%;
}

.PreviewCompleted {
  position: fixed;
  top: 1cm;
  left: 50%;
  margin-left: 470px;
  border: 2px solid #E9967A;
  border-radius: 5px;
  background-color: white;
}

.PreviewCompleted span {
  box-sizing: content-box;
  display: block;
  background-color: #E9967A;
  color: white;
  line-height: 1;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 0 0 8px 0;
  padding: 4px 0;
  border: 0;
}

.PreviewCompleted button {
  box-sizing: content-box;
  display: block;
  width: 35px;
  height: 35px;
  font-size: 18px;
  margin: 5px;
  padding: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.PreviewCompleted hr {
  width: 70%;
  border: 0;
  border-top: 2px solid gainsboro
}

.PreviewCompleted button:hover {
  filter: invert(89%) sepia(84%) saturate(1383%) hue-rotate(299deg) brightness(89%) contrast(104%);
}

.PreviewCompleted button:nth-child(1) {
  background: url(../../icon/printer.png) no-repeat;
  background-size: cover;
}

.PreviewCompleted button:nth-child(3) {
  background: url(../../icon/png.png) no-repeat;
  background-size: cover;
}

.PreviewCompleted button:nth-child(5) {
  background: url(../../icon/pdf.png) no-repeat;
  background-size: cover;
}

[data-tooltip-text]:hover {
  position: relative;
}

[data-tooltip-text]:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  width: 100px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;

  content: attr(data-tooltip-text);

  position: absolute;
  top: 5px;
  right: calc(100% + 5px);
  z-index: 9999;
}

.PreviewLayout {
  position: fixed;
  top: 1cm;
  right: 50%;
  margin-right: 470px;
  border: 2px solid #E9967A;
  border-radius: 5px;
  background-color: white;
}

.PreviewLayout span {
  box-sizing: content-box;
  display: block;
  background-color: #E9967A;
  color: white;
  line-height: 1;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 0 0 8px 0;
  padding: 4px 0;
  border: 0;
}

.PreviewLayout button {
  box-sizing: content-box;
  display: block;
  line-height: 1.3;
  width: 35px;
  font-size: 18px;
  margin: 5px;
  padding: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.PreviewLayout button:hover {
  color: #E9967A
}

.PreviewLayout button:active {
  background-color: gainsboro;
}

.PreviewLayout hr {
  width: 70%;
  border: 0;
  border-top: 2px solid gainsboro
}

.pageLine {
  position: absolute;
  width: 100%;
  top: 0;
  right: -60px;
  text-align: right;
  line-height: 1;
}

.pageNumber {
  position: absolute;
  width: calc(100% + 60px);
  border-top: 1px dashed black;
  top: 0;
  right: 0;
}

.pageNumber:nth-child(1) {
  top: 0cm
}

.pageNumber:nth-child(2) {
  top: 34cm
}

.pageNumber:nth-child(3) {
  top: calc(34cm * 2)
}

.pageNumber:nth-child(4) {
  top: calc(34cm * 3)
}

.pageNumber:nth-child(5) {
  top: calc(34cm * 4)
}

.pageNumber:nth-child(6) {
  top: calc(34cm * 5)
}

.pageNumber:nth-child(7) {
  top: calc(34cm * 6)
}

.pageNumber:nth-child(8) {
  top: calc(34cm * 7)
}

.pageNumber:nth-child(9) {
  top: calc(34cm * 8)
}

.pageNumber:nth-child(10) {
  top: calc(34cm * 9)
}

.marginBox {
  position: absolute;
  width: 120px;
  text-align: left;
  bottom: 0;
  left: -120px;
  border-bottom: 1px dashed black;
  line-height: 1;
}

.marginBox span {
  position: absolute;
  top: 25px;
  left: 0;
  font-size: 16px;
}

.marginBox button {
  font-size: 16px;
  background: white;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.marginBox button:hover {
  border-color: #E9967A;
  color: #E9967A
}

.marginBox button:active {
  background-color: gainsboro;
}