.ResumePage {
  position: relative;
  text-align: center;
  min-width: 1240px;
}

.ResumeTopHeader {
  background-color: white;
  margin-bottom: 40px;
}

.ResumeTop {
  position: relative;
  margin: 0 auto;
  width: 1240px;
  height: 40px;
  font-size: 20px;
}

.siteBanner {
  position: absolute;
  top: 5px;
  left: 20px;
}

.siteBanner a {
  text-decoration-line: none;
  color: black;
}

.siteBanner a:hover {
  color: #E9967A;
}

.ResumeList {
  position: absolute;
  top: 5px;
  right: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.ResumeLi {
  display: inline;
  background-color : white;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 16px;
  padding: 0px 2px;
  font-size: 20px;
  cursor: pointer;
  user-select : none;
}

.ResumeLi:first-child {
  margin-left: 0px;
}

.ResumeTitle {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.ResumeTitle input {
  width: 1156px;
  height: 100px;
  padding: 0 20px;
  margin: 0;
  font-size: 40px;
  border: 2px solid black;
}

.ResumeTitle input:focus {
  outline-color: #E9967A;
}

.contentBox {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.basicInfo {
  position: relative;
  background-color: white;
  padding: 20px 20px;
  border: 2px solid black;
  margin-bottom: 40px;
}

.basicInfo h2 {
  text-align: left;
  margin: 0;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.addButton {
  width: 28px;
  height: 28px;
  line-height: 0;
  vertical-align: baseline;
  padding: 0;
  margin-left: 5px;
  font-size: 20px;
  background-color: white;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.addButton:hover {
  border-color: #E9967A;
}

.addButton:active {
  background-color: gainsboro;
}

.imgBox {
  position: absolute;
  border: 2px solid black;
  top: 72px;
  right: 20px;
  width: 132.8px;
  height: 166px;
}

.imgFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 166px;
}

.imgFlex button {
  background: white;
  color: gray;
  border: 0;
  cursor: pointer;
  font-size: 18px;
}

.imgFlex button:hover {
  background: white; 
  color: black;
  border: 2px solid #E9967A;
  border-radius: 10px;
  cursor: pointer;
}

.imgFlex button:active {
  background: gainsboro; 
  color: black;
  border: 2px solid #E9967A;
  border-radius: 10px;
}

.row {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  font-size: 0;
}

.inputBox {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  margin-right: 10px;
  height: 76px;
  vertical-align: top;
  text-align: left;
}

.inputBox span {
  box-sizing: border-box;
  display: block;
  color: gray;
  font-size: 18px;
  padding: 5px 5px 0 10px;
  text-align: left;
}

.inputBox input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 45px;
  line-height: 40px;
  font-size: 20px;
  border: 0;
  padding: 0 10px;
}

.inputBox input:focus {
  outline: none;
}

.inputBox ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.inputBox li {
  list-style: none;
  height: 38px;
}

.inputBox button {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.Clik {
  border-color: #E9967A;
}

.이름 {
  width: 250px;
}

.영문 {
  width: 300px;
}

.성별 {
  width: 100px;
}

.성별선택 {
  background-color: white;
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 0;
  margin: 0;
}

.표시 {
  display: block;
}

.숨김 {
  display: none;
}


.생년월일 {
  width: 313.2px;
}

.연락처 {
  width: 250px;
}

.이메일 {
  width: 300px;
}

.주소 {
  width: 427.2px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	box-shadow: 0 0 0 1000px white inset;
}

.학력 {
  width: 300px;
}

.imgContent {
  width: 100%;
  height: 100%;
}

.imgContent img {
  width: 100%;
  height: 100%;
}

.imgContent button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  width: 34px;
  height: 22px;
  line-height: 0px;
  padding: 0px;
  border: 0;
  background-color: #E9967A;
  color: white;
  cursor: pointer;
}

.checkBoxWrap {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 20px;
}

.checkBox {
  display: inline-block;
  margin-left: 20px;
}

.checkBox input {
  margin: 0;
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.checkBox span {
  font-size: 20px;
  padding-left: 5px;
  line-height: 20px;
  vertical-align: top;
}

.학교명 {
  width: 250px;
}

.입학년월 {
  width: 250px;
}

.졸업년월 {
  width: 250px;
}

.합격년월 {
  width: 250px;
}

.전공명 {
  width: 250px;
}

.학점 {
  width: 250px;
}

.총점 {
  width: 250px;
}

.회사명 {
  width: 250px;
}

.입사년월 {
  width: 250px;
}

.퇴사년월 {
  width: 250px;
}

.직급 {
  width: 250px;
}

.직무 {
  width: 250px;
}

.연봉 {
  width: 250px;
}

.자격증명 {
  width: 250px;
}

.발행처 {
  width: 250px;
}

.취득년월-자격증 {
  width: 250px;
}

.외국어명 {
  width: 250px;
}

.시험명 {
  width: 250px;
}

.취득년월-어학 {
  width: 250px;
}

.인턴·대외활동명 {
  width: 250px;
}

.소속단체명 {
  width: 250px;
}

.시작년월 {
  width: 250px;
}

.종료년월 {
  width: 250px;
}

.활동내용 {
  width: 1152px;
  height: 200px;
}

.자기소개서내용 {
  width: 1152px;
  height: 200px;
}